{
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": true,
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "tabWidth": 4,
        "braceStyle": "1tbs"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "singleQuote": true,
        "printWidth": 100
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 100,
        "htmlWhitespaceSensitivity": "css",
        "bracketSameLine": false
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel",
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    }
  ]
}
